h1{
    color:blue;
    text-decoration: underline;
    background-color:gold; 
}

h2{
    color:purple;
    font-style:bold;
    font-size: 25px;
    border:3px solid orange;
}

p{
    width: 50%;
    height: 200px;
    background-color: gray;
    border: 3px solid black;
    color:white;
}
        
h3{
    background-color: black;
    border: 3px solid lightgreen;
    font-size:20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
		