body{
    background-color: #87ceeb;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#main{
    margin: 20px;
    padding: 50px;
    border: 5px solid #48cd31;
    width: 600px;
    height: auto;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

h2{
    font-weight: bolder;
}

ul{
    text-align: center;
}

li{
    display: inline-block;
    font-weight:700;
}

.break{
    color: gray;
    font-weight: bolder;
}

a:link{
    color: #24815c;
}

p{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 1em;
}

img{
    width: 200px;
    height: auto;
    float: right;
    clear: both;
}

.footer{
    margin-top: 40px;
}